.oblik-modal {
    position: fixed; /* Stay in place */
    z-index: 999/*2147483647*/; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}


#fadeOut {
   -webkit-animation-name: fadeOut; /* Fade in the background */
    -webkit-animation-duration: 0.5s;
    animation-name: fadeOut;
    animation-duration: 0.5s;

}


/*Modal Content*/
.oblik-content {
    margin-right: 50px;
    position: fixed;
    bottom: 0;
    /*margin-bottom: 20px;*/
    /*margin-left: 35px;*/
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

#slideOut {
  -webkit-animation-name: slideOut;
  -webkit-animation-duration: 0.5s;
  animation-name: slideOut;
  animation-duration: 0.5s;

}

/* The Close Button */
.oblik-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.oblik-close:hover,
.oblik-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.oblik-header {
    padding: 10px 16px;
    background-color: #3acec2;
    color: white;
}

  .oblik-title{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
  }

.oblik-body {
  margin: 20px;
  display: flex;
  }

  .articleSource1 {
    text-align: center;
    flex:1;
  }

    .articleContainer1{
      display: block;
      margin:auto;
      border: red solid 2px;
      height: 200px;
      width: 250px;

    }

  .articleSource2 {
    text-align: center;
    flex:1;
  }


    .articleContainer2{
      display: block;
      margin:auto;
      border: purple solid 2px;
      height: 200px;
      width: 250px;

    }

  .articleSource3 {
    text-align: center;
    flex:1;
  }

  .articleContainer3{
    display: block;
    margin:auto;
    border: blue solid 2px;
    height: 200px;
    width: 250px;


  }

  .article1Container:hover,
  .article1Container:focus {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
  }


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0;}
}

@keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0;}
}


@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}